.custom-container{
    padding: 20px;
    color: white;
}

.card-body{
    padding: 0px !important;
    margin-bottom: 70px;
}

.title-img{
    width: 200px;
    margin-bottom: 20px;
}
h3.custom-container{
    font-weight: 200;
}

.title-overview{
    font-size: 13px;
    font-weight: 200;
    margin-bottom: 30px;
}

.details{
    font-size: 13px;
    font-weight: 200;
    margin-bottom: 30px;
}

.custom-button{
    color: white !important;
    font-weight: 700 !important;
    border-radius: 25px !important;
    border: 1px solid #8535F6 !important;
    padding: 0.55em 1.5em 0.5em !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    background-color: #8535F6 !important;
    margin-right: 10px !important;
    font-size: .75rem !important;
}

.custom-button:hover{
    color: #8535F6;
    background-color: transparent;
    border: 1px solid #8535F6;
}

.link-holder{
    margin-bottom: 30px;
}